doctype html
html(lang="en")
  head
    - var titleValue = htmlWebpackPlugin.options.title
    title=titleValue
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telphone=no,email=no")
    include common/css
  body
    #app-container
    include common/js
